@import "tailwindcss";
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-green-900: #222a01;
  --color-brand-green-800: #334b02;
  --color-brand-green-700: #446d03;
  --color-brand-green-600: #558f04;
  --color-brand-green-500: #66B105;
  --color-brand-green-400: #a3d94a;
  --color-brand-green-300: #bde574;
  --color-brand-green-200: #d6f0a6;
  --color-brand-green-100: #eaf8d0;
  --color-brand-green-50:  #f6fce9;
  --color-brand-green: var(--color-brand-green-500);

  --color-brand-gray-900: #171717;
  --color-brand-gray-800: #303133;
  --color-brand-gray-750: #4B4B4B;
  --color-brand-gray-700: #525252;
  --color-brand-gray-500: #737373;
  --color-brand-gray-450: #919191;
  --color-brand-gray-400: #909399;
  --color-brand-gray-350: #A8ABB2;
  --color-brand-gray-300: #A1A1A1;
  --color-brand-gray-200: #C0C0C0;
  --color-brand-gray-150: #D4D4D4;
  --color-brand-gray-100: #F7F7F7;
  --color-brand-gray-75:  #F3F3F3;
  --color-brand-gray-50:  #FAFAFA;
  --color-brand-gray: var(--color-brand-gray-500);
  
  --color-brand-red-600:  #B42318;
  --color-brand-red-500:  #E7000B;
  --color-brand-red-100:  #FFE2E2;
  --color-brand-red-50:   #FEF3F2;
  --color-brand-red: var(--color-brand-red-500);

  --color-brand-black:    #000000;
  --color-brand-white:    #FFFFFF;

  --color-brand-slate-950: #0F172A;
  --color-brand-slate-900: #181D27;
  --color-brand-slate-600: #6A7282;
  --color-brand-slate-500: #535862;
  --color-brand-slate-400: #9AA0A8;
  --color-brand-slate-300: #CBD5E1;
  --color-brand-slate-200: #E2E8F0;
  --color-brand-slate: var(--color-brand-slate-500);
}

html, body {
  height: 100%;
}

